@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

* {
  margin: 0;
  padding: 0;
}

.slide-box {
  position: relative;
  margin: 30px auto;
  padding: 0 5px;
  height: 300px;
  max-width: 1200px;
  min-width: 700px;
  /* background-color: antiquewhite; */
}

.banner-box {
  position: relative;
  height: 100%;
  width: 100%;
}

.banner-item {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 90%;
  background-color: #000;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.5s;
  z-index: 0;
}

.banner-item>img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transform: opacity 0.5s;
  object-fit: cover;
}

.banner-item.left {
  left: 0;
  transform: translateX(0);
  z-index: 50;
}

.banner-item.right {
  left: 100%;
  transform: translateX(-100%);
  z-index: 50;
}

.banner-item.middle {
  width: 550px;
  height: 100%;
  z-index: 100;
}

.banner-item.middle>img {
  opacity: 1;
}

.slide-left-btn, .slide-right-btn {
  position: absolute;
  top: 50%;
  z-index: 200;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: 900;
  color: #b4b4b4;
  border: none;
  background: none;
}

.slide-left-btn:hover, .slide-right-btn:hover {
  color: #fff;
}

.slide-left-btn {
  left: 1%;
}

.slide-right-btn {
  right: 1%;
}

.pagination-box {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination-box>span {
  width: 20px;
  height: 6px;
  border-radius: 3px;
  margin: 0 4px;
  background-color: #b4b4b4;
}

.pagination-box>span.chose {
  background-color: #ff4444;
}